
[[this_includes]]
file = '/sdf/data/neutrino/dcarber/spine_workshop//medulla/spineplot/configurations/common/variables_nue.toml'

[[this_includes]]
file = '//sdf/data/neutrino/dcarber/spine_workshop/medulla/spineplot/configurations/common/styles.toml'

[samples]
[samples.mc_nu]
key = "simulation"
exposure_type = "pot"
trees = ['selected']
presel = '((reco_leading_electron_axial_spread > -0.014) & (reco_leading_electron_directional_spread < 0.72) & (reco_leading_proton_proton_softmax > 0.36) & (reco_leading_proton_muon_softmax < 0.28) & (reco_leading_electron_vertex_distance < 8)) '
#print_sys = true

[output]
path = '~'

[analysis]
ordinate_sample = 'mc_nu'
category_branch = 'true_category'
category_assignment = [[0,1], [2], [3],[4], [5],[6],[7]]
category_labels = ['1eNp0$\pi$','OOFV', 'Other CC $\nu_e$', '$\nu_\mu$ CC', 'NC $\nu$','Cosmic','Other $\nu$']
category_colors = ['C0', 'C1', 'C3', 'C5', 'C6','C4','C7','black']
category_types = ['histogram', 'histogram', 'histogram', 'histogram', 'histogram','histogram', 'histogram', 'scatter']

[[figure]]
name = 'reco_visible_energy'
type = 'SimpleFigure'
style = 'selected_icarus'
[[figure.artists]]
type = 'SpineSpectra1D'
variable = 'reco_visible_energy'
ytitle = 'Normalized Candidates'
draw_kwargs = {'show_component_number' = false, 'show_component_percentage' = true, 'invert_stack_order' = true,'normalize' = true}

[[figure]]
name = 'reco_leading_electron_ke'
type = 'SimpleFigure'
style = 'selected_icarus'
[[figure.artists]]
type = 'SpineSpectra1D'
variable = 'reco_leading_electron_ke'
ytitle = 'Candidates'
draw_kwargs = {'show_component_number' = true, 'show_component_percentage' = true, 'invert_stack_order' = true, 'normalize' = false}

[[figure]]
name = 'reco_leading_electron_ke_2d'
type = 'SimpleFigure'
style = 'selected_icarus'
[[figure.artists]]
type = 'SpineSpectra2D'
xvariable = 'reco_leading_electron_ke'
yvariable = 'true_leading_electron_ke'
ytitle = 'Candidates'
#draw_kwargs = {'show_component_number' = true, 'show_component_percentage' = true, 'invert_stack_order' = true, 'normalize' = false}


